.env
.DS_Store
__pycache__/
*.pyc
*.egg-info/
dist/
.venv/
*.log
*.log.*
/BluePopcorn
BluePopcorn.app/Contents/MacOS/BluePopcorn
BluePopcorn.app/Contents/_CodeSignature/
com.bluepopcorn.daemon.plist
data/
